*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    width: 100%;
    flex: 1;
    background: #ccc;
}
.nav-top
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
  
}
.nav-top input{
    width: 80%;
    height: 80px;
    background: #fff;
    margin-left: 10%;
    border: 0;
    outline: none;
    margin-top: 5px;
    padding-left: 20px;
}
.banner
{
    width: 100%;
    height: 240px;
    background: salmon;
}
.wrapper
{
    width: 100%;
    height: 100%;
}
.wrapper img{
    width: 100%;
    height: 100%;
}
.footer
{
    width: 100%;
    height: 50px;
    background: orange;
}